<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="接口重写" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://aip.baidubce.com/{R:1}" />
                </rule>
				<rule name="dxs重写" stopProcessing="true">
                    <match url="^dxs-api/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://175dt.com/{R:1}" />
                </rule>
                <rule name="重写">
                    <match url="^(?!static/)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>

	<outboundRules rewriteBeforeCache="true">
    		<rule name="Remove Server header">
      		<match serverVariable="RESPONSE_Server" pattern=".+" />
      		<action type="Rewrite" />
    		</rule>
  	</outboundRules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="3000000000" />
            </requestFiltering>
        </security>
    </system.webServer>

</configuration>
